<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Tags', style:''">
	<div id="allServicesWidget" data-dojo-type="dime/widget/tag/TagsWidget" data-dojo-props="store: window.storeManager.get('tags', false, true)"></div>
</div>