<div class="${baseClass}">
	<div class="${baseClass}Steet"><label>Strasse</label><div data-dojo-attach-point="streetNode" data-dojo-type="dijit/form/TextBox"></div></div>
	<div class="${baseClass}StreetNr"><label>Strassen Nummer</label><div data-dojo-attach-point="streetnumberNode" data-dojo-type="dijit/form/TextBox"></div></div>
	<div class="${baseClass}PLZ"><label>PLZ</label><div data-dojo-attach-point="plzNode" data-dojo-type="dijit/form/TextBox"></div></div>
	<div class="${baseClass}City"><label>Stadt</label><div data-dojo-attach-point="cityNode" data-dojo-type="dijit/form/TextBox"></div></div>
	<div class="${baseClass}Canton"><label>Kanton</label><div data-dojo-attach-point="stateNode" data-dojo-type="dijit/form/TextBox"></div></div>
	<div class="${baseClass}Country"><label>Land</label><div data-dojo-attach-point="countryNode" data-dojo-type="dijit/form/TextBox"></div></div>
</div>