<div class="${baseClass}">
	<label for="street">Strasse: </label><div data-dojo-attach-point="streetNode" data-dojo-type="dijit/form/TextBox"></div>
	<label for="streetnumber">Strassen Nummer: </label><div data-dojo-attach-point="streetnumberNode" data-dojo-type="dijit/form/TextBox"></div>
	<label for="plz">PLZ: </label><div data-dojo-attach-point="plzNode" data-dojo-type="dijit/form/NumberTextBox"></div>
	<label for="City">Stadt: </label><div data-dojo-attach-point="cityNode" data-dojo-type="dijit/form/TextBox"></div>
	<label for="state">Kanton: </label><div data-dojo-attach-point="stateNode" data-dojo-type="dijit/form/TextBox"></div>
	<label for="country">Land: </label><div data-dojo-attach-point="countryNode" data-dojo-type="dijit/form/TextBox"></div>
</div>