<div class="${baseClass}">
    <label>Name </label><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div><br>

    <label>Alias </label><div class="${baseClass}Alias" data-dojo-attach-point="aliasNode" data-dojo-type="dijit/form/TextBox"></div><br>

    <label>Beschreibung </label><div class="${baseClass}Description" data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/TextBox"></div><br>

    <label>Verechenbar </label><div class="${baseClass}Chargeable" data-dojo-attach-point="chargeableNode" data-dojo-type="dijit/form/CheckBox" ></div><br>

    <label>MwSt </label><div class="${baseClass}Vat" data-dojo-attach-point="vatNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>

    <label>Raten</label>
	<div class="${baseClass}Rates" data-dojo-attach-point="ratesNode" data-dojo-type="dime/common/GenericStoreTableWidget"></div>
</div>