<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Aufträge/Projekte', style:''">
	<div id="allProjectsWidget" data-dojo-type="dime/widget/project/ProjectsWidget"></div>
</div>