[submodule "src/DimeTimetrackerBundle"]
	path = src/DimeTimetrackerBundle
	url = https://github.com/stiftungswo/DimeTimetrackerBundle.git
[submodule "src/DimeInvoiceBundle"]
	path = src/DimeInvoiceBundle
	url = https://github.com/stiftungswo/DimeInvoiceBundle.git
[submodule "src/DimeReportBundle"]
	path = src/DimeReportBundle
	url = https://github.com/stiftungswo/DimeReportBundle.git
[submodule "src/DimeOfferBundle"]
	path = src/DimeOfferBundle
	url = https://github.com/stiftungswo/DimeOfferBundle.git
[submodule "env"]
	path = env
	url = https://github.com/stiftungswo/generic-docker-symfony-dev-container.git
