[submodule "src/Dime/FrontendBundle"]
	path = src/Dime/FrontendBundle
	url = https://github.com/stiftungswo/DimeFrontendBundle.git
[submodule "src/Dime/TimetrackerBundle"]
	path = src/Dime/TimetrackerBundle
	url = https://github.com/stiftungswo/DimeTimetrackerBundle.git
[submodule "src/Dime/InvoiceBundle"]
	path = src/Dime/InvoiceBundle
	url = https://github.com/stiftungswo/DimeInvoiceBundle.git
[submodule "src/Dime/OfferBundle"]
	path = src/Dime/OfferBundle
	url = https://github.com/stiftungswo/DimeOfferBundle.git
[submodule "src/Dime/PrintingBundle"]
	path = src/Dime/PrintingBundle
	url = https://github.com/stiftungswo/DimePrintingBundle.git
[submodule "src/Dime/EmployeeBundle"]
	path = src/Dime/EmployeeBundle
	url = https://github.com/stiftungswo/DimeEmployeeBundle.git
[submodule "src/Swo/Money"]
	path = src/Swo/Money
	url = https://github.com/stiftungswo/money
[submodule "src/Dime/ReportBundle"]
	path = src/Dime/ReportBundle
	url = https://github.com/stiftungswo/DimeReportBundle.git
