<tr>
    <td><div class="${baseClass}rateGroup" data-dojo-attach-point="rateGroupNode" data-dojo-type="dijit/form/FilteringSelect"></div></td>
	<td><div class="${baseClass}rateValue" data-dojo-attach-point="rateValueNode" data-dojo-type="dijit/form/NumberTextBox" ></div></td>
	<td><div class="${baseClass}rateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div></td>
    <td><div class="${baseClass}rateUnitType" data-dojo-attach-point="rateUnitTypeNode" data-dojo-type="dijit/form/FilteringSelect"></div></td>
</tr>