<div class="${baseClass}">
    <label for="rateGroup">Tarif Gruppe </label><div class="${baseClass}rateGroup" data-dojo-attach-point="rateGroupNode" data-dojo-type="dijit/form/FilteringSelect"></div>

	<label for="rateValue">Ansatz </label><div class="${baseClass}rateValue" data-dojo-attach-point="rateValueNode" data-dojo-type="dijit/form/NumberTextBox" ></div>

	<label for="rateUnit">Einheit </label><div class="${baseClass}rateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div>

    <label for="rateUnitType">EinheitenTyp </label><div class="${baseClass}rateUnitType" data-dojo-attach-point="rateUnitTypeNode" data-dojo-type="dijit/form/FilteringSelect"></div>

	<button data-dojo-attach-point="delNode" data-dojo-type="dijit/form/Button" class="${baseClass}Delete danger">X</button>
</div>