.timesliceWidget {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 165px;
}

.timesliceWidgetstartedAt {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 120px;
}

.timesliceWidgetDuration {
    margin-left: 35px;
    width: 90px;
}

.timesliceWidgetDelete.dijitButton .dijitButtonNode {
    line-height: 5px;
    margin: -15px 0 0 2px !important;
    padding: 4px 12px 5px 0;
    width: 5px !important;
}