<div class="${baseClass}">
	<div class="${baseClass}CustomerProject">
		<div data-dojo-attach-point="customerNode" data-dojo-type="dijit/form/FilteringSelect"></div>: <div data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/FilteringSelect"></div>
	</div>
	<div class="${baseClass}Service">
		<div data-dojo-attach-point="serviceNode" data-dojo-type="dijit/form/FilteringSelect" class="dijitTextBoxLong"></div>
	</div>
	<div class="${baseClass}DeleteBtn">
		<button data-dojo-attach-point="deleteNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</button>
	</div>
	<div class="${baseClass}DescriptionChargeable">
		<div class="${baseClass}Desciption"><textarea data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/Textarea" ></textarea></div><!--<div data-dojo-attach-point="chargeableNode" data-dojo-type="dijit/form/CheckBox" class="${baseClass}Chargeable">Verechenbar</div>-->
	</div>
	<div data-dojo-attach-point="timesliceContainer" class="timesliceContainer">

	</div>
	<div data-dojo-attach-point="timeslicectrlNode">
		<div data-dojo-attach-point="addtimesliceNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
	</div>
</div>