<div class="${baseClass}">
	<h3 class="${baseClass}Title" data-dojo-attach-point="title">Aktivitäten im ${selectedMonth}</h3>
	<input class="${baseClass}Button" data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dateSelectNode">
	<button class="${baseClass}Button" data-dojo-attach-point="addButtonNode" data-dojo-type="dijit/form/Button" data-dojo-props="class: 'primary'">Neue Aktivität</button>
	<div data-dojo-attach-point="activityContainer" class="activityContainer">

	</div>
</div>