<tr>
	<td><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}Minus" data-dojo-attach-point="minusNode" data-dojo-type="dijit/form/CheckBox"></div></td>
	<td><div class="${baseClass}Percentage" data-dojo-attach-point="percentageNode" data-dojo-type="dijit/form/CheckBox"></div></td>
	<td><div class="${baseClass}Value" data-dojo-attach-point="valueNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
</tr>