<div class="${baseClass}">

        <label>Name </label><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div>
        <label>Reduktion </label><div class="${baseClass}Minus" data-dojo-attach-point="minusNode" data-dojo-type="dijit/form/CheckBox"></div>
        <label>Prozent </label><div class="${baseClass}Percentage" data-dojo-attach-point="percentageNode" data-dojo-type="dijit/form/CheckBox"></div>
        <label>Wert </label><div class="${baseClass}Value" data-dojo-attach-point="valueNode" data-dojo-type="dijit/form/NumberTextBox"></div>
        <div class="${baseClass}DeleteBtn" data-dojo-attach-point="deleteNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
</div>