<div class="${baseClass}Wrapper">
	<div class="${baseClass}NameData DimePanel">
        <div class="${baseClass} ${baseClass}Username"><label>Benutzername </label><div data-dojo-attach-point="usernameNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Email"><label>e-Mail </label><div data-dojo-attach-point="emailNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Firstname"><label>Vorname </label><div data-dojo-attach-point="firstnameNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Lastname"><label>Nachname </label><div data-dojo-attach-point="lastnameNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Plainpassword"><label>Passwort Wechseln </label><div data-dojo-attach-point="plainpasswordNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Enabled"><label>Login möglich </label><div data-dojo-attach-point="enabledNode" data-dojo-type="dijit/form/CheckBox"></div></div>
		<div class="${baseClass} ${baseClass}Locked"><label>Gesperrt </label><div data-dojo-attach-point="lockedNode" data-dojo-type="dijit/form/CheckBox"></div></div>
	</div>
</div>