<tr>
	<td><div class="${baseClass}Type" data-dojo-attach-point="typeNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $type -->
	<td><div class="${baseClass}Value" data-dojo-attach-point="valueNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $value -->
	<td><div class="${baseClass}Rate" data-dojo-attach-point="rateNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $rate -->
	<td><div class="${baseClass}RateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $rateUnit -->
	<td><div class="${baseClass}Charge" data-dojo-attach-point="chargeNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $charge -->
	<td><div data-dojo-attach-point="containerNode"></div></td>
</tr>