<div class="${baseClass}">
	<div class="DimePanel ${baseClass}Panel">
		<div class="${baseClass} ${baseClass}Name"><label>Name</label><div data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Alias"><label>Alias</label><div data-dojo-attach-point="aliasNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Description"><label>Beschreibung</label><div data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/TextBox"></div></div>
		<div class="${baseClass} ${baseClass}Project"><label>Projekt</label><div data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/FilteringSelect" ></div></div>
		<div class="${baseClass} ${baseClass}Start"><label>Start</label><div data-dojo-attach-point="startNode" data-dojo-type="dime/form/DateTextBox" ></div></div>
		<div class="${baseClass} ${baseClass}End"><label>Ende</label><div data-dojo-attach-point="endNode" data-dojo-type="dime/form/DateTextBox" ></div></div>
	</div>
	<div class="DimePanel ${baseClass}Panel">
		<div class="${baseClass} ${baseClass}InvoiceItems"><label>Rechnungspositionen:</label><div data-dojo-attach-point="itemsNode" data-dojo-type="dime/common/GenericStoreTableWidget"></div></div>
	</div>

	<div class="DimePanel ${baseClass}Panel">
		<div class="${baseClass} ${baseClass}PriceSummary"><label>Total</label></div>
		<div class="${baseClass} ${baseClass}Subtotal"><label>Subtotal</label><div data-dojo-attach-point="subtotalNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		<div class="${baseClass} ${baseClass}TotalVAT"><label>Davon MwSt.</label><div data-dojo-attach-point="totalVATNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		<div class="${baseClass} ${baseClass}TotalDiscounts"><label>Abzüge</label><div data-dojo-attach-point="totalDiscountsNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		<div class="${baseClass} ${baseClass}Total"><label>Total</label><div data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
	</div>

	<div class="DimePanel ${baseClass}Panel">
		<div class="${baseClass} ${baseClass}DiscountsNode"><label>Standard Abzüge</label><div data-dojo-attach-point="discountsNode" data-dojo-type="dime/common/SelectableSubEntityTableWidget"></div></div>
	</div>

	<div class="DimePanel ${baseClass}Panel">
		<button data-dojo-attach-point="printNode" data-dojo-type="dijit/form/Button"><span class="icon-print" ></span></button>
		<button data-dojo-attach-point="updateNode" data-dojo-type="dijit/form/Button">Rechnung Updaten</button>
	</div>
</div>