<tr>
	<td><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}RateValue" data-dojo-attach-point="rateValueNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}RateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}Amount" data-dojo-attach-point="amountNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}VAT" data-dojo-attach-point="VATNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div class="${baseClass}Total" data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div data-dojo-attach-point="containerNode"></div></td>
</tr>