.customerDetailWidget {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.customerDetailWidget label {
    margin-right: 5px;
}

.customerDetailWidgetCompany{
    clear: both;
}

.customerDetailWidgetDepartment {
    clear: both;
}

.customerDetailWidgetCompany .dijitTextBox{
    margin-left: 24px;
}

.customerDetailWidgetDepartment .dijitTextBox{
    margin-left: 2px;
}

.customerDetailWidgetSalutation .dijitTextBox{
    margin-left: 15px;
}