.userDetailWidget{
    margin-top: 5px;
}

.userDetailWidgetWrapper {
    height: 100% !important;
    width: 100% !important;
}

.userDetailWidgetNameData{
    margin-top: 4px !important;
}

.userDetailWidget .dijitTextBox {
    margin-left: 10px;
    width: 300px;
}

.userDetailWidgetLastname .dijitTextBox {
    margin-left: 70px;
}

.userDetailWidgetFirstname .dijitTextBox {
    margin-left: 82px;
}

.userDetailWidgetEmail .dijitTextBox {
    margin-left: 100px;
}

.userDetailWidgetUsername .dijitTextBox {
    margin-left: 44px;
}

.userDetailWidgetEnabled .dijitCheckBox {
    margin-left: 53px;
}

.userDetailWidgetLocked .dijitCheckBox {
    margin-left: 81px;
}