<div>
	<div class="dateFilter">
		<button data-dojo-attach-point="monthbackButton" data-dojo-type="dijit/form/Button" ><<<-</button>
		<button data-dojo-attach-point="weekbackButton" data-dojo-type="dijit/form/Button" ><<-</button>
		<button data-dojo-attach-point="daybackButton" data-dojo-type="dijit/form/Button" ><-</button>
		<div class="${baseClass}FromDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dateFromNode"></div>
		<div class="${baseClass}ToDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dateToNode"></div>
		<button data-dojo-attach-point="dayadvanceButton" data-dojo-type="dijit/form/Button" >-></button>
		<button data-dojo-attach-point="weekadvanceButton" data-dojo-type="dijit/form/Button" >->></button>
		<button data-dojo-attach-point="monthadvanceButton" data-dojo-type="dijit/form/Button" >->></button>
	</div>
	<table>
		<thead data-dojo-attach-point="tableHead">

		</thead>
		<tbody data-dojo-attach-point="containerNode">

		</tbody>
	</table>
	<button data-dojo-attach-point="addRowNode" data-dojo-type="dijit/form/Button" data-dojo-props="class: 'primary'">+</button>
	<button data-dojo-attach-point="delRowNode" data-dojo-type="dijit/form/Button" data-dojo-props="class: 'danger'">-</button>
	<div data-dojo-attach-point="selectEntNode" data-dojo-type="dijit/form/FilteringSelect"></div>
</div>