<div class="${baseClass}">
	<div data-dojo-attach-point="GridNode" data-dojo-type="dime/widget/customer/CustomerGrid"></div>
	<div data-dojo-attach-point="addNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
	<div data-dojo-attach-point="editNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">Edit Customer</div>
	<div data-dojo-attach-point="deleteNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
</div>