<tr>
	<td><div class="${baseClass}StartedAt" data-dojo-attach-point="startedAtNode" data-dojo-type="dijit/form/DateTextBox"></div></td><!-- $startedAt -->
	<td><div class="${baseClass}User" data-dojo-attach-point="userNode" data-dojo-type="dijit/form/FilteringSelect"></div></td><!-- $user -->
	<td><div class="${baseClass}Activity" data-dojo-attach-point="activityNode" data-dojo-type="dijit/form/FilteringSelect"></div></td><!-- $activity -->
	<td><div class="${baseClass}Value" data-dojo-attach-point="valueNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $value -->
	<td><div data-dojo-attach-point="containerNode"></div></td>
</tr>