<stylesheet>
	<p margin="0" font-size="14px"></p>
	<div class="nobreak" breakable="false"/>
	<any class="logo" height="27mm" margin-left="103mm"></any>
	<any class="recipientAddress" float="right" margin-top="-7mm" margin-right="25mm" width="50mm"></any>
	<any class="header" margin-top="15px" height="225px" width="100%">
		<any font-size="14px"/>
		<any class="idkey" font-size="16px" font-style="bold" margin-top="30px"></any>
		<p float="left" margin-top="5px"></p>
	</any>
	<any class="accountant" width="100%"></any>
	<any class="mwstNR" margin-top="1px"></any>
	<any class="offerShortDescription" width="100%" margin-top="20px" height="45px" font-style="bold"></any>
	<any class="offerDescription" width="100%" margin-top="0" height="70mm" margin-bottom="10mm">
		<any margin-top="0" margin-bottom="0" padding-top="0" padding-bottom="0"/>
		<h1 padding-top="8px" padding-bottom="0" font-size="14px" text-decoration="underline"></h1>
		<h2 padding-top="8px" padding-bottom="0" font-size="14px"></h2>
		<h3 padding-top="8px" padding-bottom="0" font-size="14px"></h3>
		<p padding-top="0" padding-bottom="0" width="100%"></p>
		<li font-size="14px"></li>
	</any>
	<any class="ortdatum" width="100%"></any>
	<any class="projectID" margin-top="1px"></any>
	<any class="maintable" width="100%"  border.type="none">
		<any class="thead" border.type="bottom" border.style="solid" border.size="1px" font-style="bold">
			<td height="35px"></td>
		</any>
		<any class="tbody">
			<td height="30px"></td>
		</any>
		<any class="tfoot" border.type="top" border.style="solid" border.size="1px"></any>
		<td padding-left="20px" border.type="none"></td>
		<td class="firstrow" width="29%"></td>
		<td class="secondrow" width="10%"></td>
		<td class="thirdrow" width="15%"></td>
		<td class="fourthrow" width="15%"></td>
		<td class="fifthrow" width="15%"></td>
		<td class="sixthrow" width="16%"></td>
	</any>
	<any class="subtotalKey" font-style="bold"></any>
	<any class="subtotalVal" font-style="bold"></any>
	<any class="discounttable" width="100%" margin-top="30px">
		<td padding-left="10px" border.type="none"></td>
		<any class="thead" border.type="bottom" border.style="solid" border.size="1px" font-style="bold">
			<td height="35px"></td>
		</any>
		<any class="tbody">
			<td height="30px"></td>
		</any>
		<any class="tfoot" border.type="top" border.style="solid" border.size="1px" font-style="bold"></any>
		<any class="firstrow" width="84%"></any>
		<any class="secondrow" width="16%"></any>
	</any>
	<any class="sumtable" width="100%" margin-top="30px">
		<td padding-left="10px" border.type="none" height="20px"></td>
		<tr class="tbody">
			<td height="30px"></td>
		</tr>
		<any class="tfoot" border.type="top" border.style="solid" border.size="1px" font-style="bold"></any>
		<any class="firstrow" padding-left="5px" width="68%"></any>
		<any class="secondrow" width="16%"></any>
		<any class="thirdrow" width="16%"></any>
	</any>
	<any class="number" text-align="right"></any>
	<any class="title" font-style="bold" font-size="14px"></any>
	<any class="signature" float="left" margin-top="15mm" margin-right="55mm">
		<any class="title" font-style="bold" font-size="14px"></any>
		<any class="locdate" margin-top="15mm" font-style="bold" font-size="14px"></any>
		<any class="dateline" margin-top="20px"></any>
	</any>
	<any class="pagenumber" text-align="right">
		<any font-size="14px"/>
	</any>
</stylesheet>