a {
  text-decoration: none;
  cursor: pointer;
}

.extra-space {
  padding-left: 10px;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

ul {
  list-style-type: none;
}

.select-dropdown {
    width: 100%;
    max-height: 400px;
    overflow: auto;
}

.select-dropdown > div > div {
    border-bottom: 1px solid #AEAEAE;
}

.select-dropdown > div:last-child > div {
  border-bottom: 0;
}

div.dropdown:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 14px;
    color: rgba(0,0,0,0.3);
    top: 7px;
    margin: 0;
    z-index: 2;
    right: 6px;
    pointer-events: none;
}

.DimePanel {
    width: 99%;
    margin: 2px;
    padding: 5px;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    float: left;
}

.DimeControlButtons{
    margin-top: 10px;
    padding-bottom: 15px;
}

textarea.form-control{
    height: 200px;
}

textarea.tiny{
    height: auto;
}

.dropdown-menu {
  border: 1px solid #AEAEAE;
  padding: 0;
}

.dropdown-menu > div > div {
  padding: 5px 10px;
}

.dropdown-menu > div > div:hover {
  background: #337ab7;
  color: white;
  cursor: pointer;
}

.dropdown-menu > div > div:hover .text-muted {
  color: #DDD;
}

.dropdown-menu > div > div.selected {
  background: #222d32;
  color: white;
}

.table{
    table-layout: fixed;
}

th a {
    display:block;
    color:inherit;
}

.glyphicon-animate-spin {
    animation: spin 1s infinite linear;
    -webkit-animation: spin-webkit 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* Forms */

input.ng-invalid.ng-touched {
  border: 1px solid #dd4b39 !important;
  background: #FAE3E0;
}

input.form-control {
  padding: 6px;
  padding-right: 0px;
}

div.dropdown input.form-control {
  padding-right: 14px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #999 !important;
}


/* Login Page */

.login-page {
  background: #ffffff;
}

.login-box-body {
  background: #d2d6de;
}

/* Menue */

.treeview > a {
  cursor: pointer;
}

.statusbar {
  padding: 15px;
  line-height: 20px;
  color: #ffffff;
}

/* Overwrite Table Styles */

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 0;
  border-bottom: 1px solid #ddd;
}

.table-bordered .text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  /* bugfix for firefox */
  display: block;
}

.release-info {
  color: #EEEEEE;
}

/* some improvements on mobile */
@media (max-width:767px) {
    .content {
        padding: 5px;
    }

    input.form-control {
        padding-left: 2px;
    }

    textarea.form-control {
        padding: 2px;
    }

    activity-select,
    entity-select,
    offerstatus-select,
    project-select,
    projectCategory-select,
    rategroup-select,
    rateunittype-select,
    roundmode-select,
    service-select,
    user-select,
    dateinput
    {
        display: block;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 2px;
        overflow: hidden;
    }
}

/*
Copyright (C) 2013 - 2015 Angular Dart UI authors. Please see AUTHORS.md.
https://github.com/akserg/angular.dart.ui
All rights reserved.  Please see the LICENSE.md file.
*/
@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.panel-group accordion-group .panel {
    margin-top: 5px;
}

.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
img,
a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
.active,
.next,
.prev {
    display: block;
}
.active {
    left: 0;
}
.next,
.prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.next {
    left: 100%;
}
.prev {
    left: -100%;
}
.next.left,
.prev.right {
    left: 0;
}
.active.left {
    left: -100%;
}
.active.right {
    left: 100%;
}

.pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* override bootstrap error color with that from AdminLTE */
.has-error .help-block{
    color: #dd4b39;
}

.input-group-btn .tooltip-inner{
    white-space: normal;
}

.editable-overview td > span{
    display: inline-block;
    padding-top: 6px;
}

.loading-container{
    margin: 7% auto;
    text-align: center;
    font-size: 35px;
}
