.addressWidget {
  padding-left: 70px;
}

.addressWidget .dijitTextBox{
  margin-left: 10px;
  margin-top: 5px;
  width: 400px;
}

.addressWidgetCity .dijitTextBox {
  margin-left: 91px;
}

.addressWidgetSteet .dijitTextBox {
  margin-left: 75px;
}

.addressWidgetPLZ .dijitTextBox {
  margin-left: 101px;
}

.addressWidgetCanton .dijitTextBox {
  margin-left: 81px;
}

.addressWidgetCountry .dijitTextBox{
  margin-left: 96px;
}