<div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center', tabStrip:true" id="topTabs">
	<div id="contentTab" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Content', style:''">
		<div id="userContainer"></div>
	</div>
</div>