<tr>
	<td><div class="${baseClass}Service" data-dojo-attach-point="serviceNode" data-dojo-type="dijit/form/FilteringSelect"></div></td><!-- $service -->
	<td><div class="${baseClass}Project" data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/FilteringSelect"></div></td><!-- $project -->
	<td><div class="${baseClass}User" data-dojo-attach-point="userNode" data-dojo-type="dijit/form/FilteringSelect"></div></td><!-- $user -->
	<td><div class="${baseClass}Description" data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/Textarea"></div></td><!-- $description -->
	<td><div class="${baseClass}Value" data-dojo-attach-point="valueNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $value -->
	<td><div class="${baseClass}RateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $rateUnit -->
	<td><div class="${baseClass}Rate" data-dojo-attach-point="rateNode" data-dojo-type="dijit/form/NumberTextBox"></div></td><!-- $rate -->
	<td><div class="${baseClass}Charge" data-dojo-attach-point="chargeNode" data-dojo-type="dijit/form/TextBox"></div></td><!-- $charge -->
</tr>