.invoiceDetailWidget{

}

.invoiceDetailWidget .dijitTextBox{
    margin-left: 5px;
    margin-top: 5px;
}

.invoiceDetailWidgetName .dijitTextBox{
    margin-left: 54px;
}

.invoiceDetailWidgetAlias .dijitTextBox{
    margin-left: 61px;
}

.invoiceDetailWidgetProject .dijitTextBox{
    margin-left: 47px;
}

.invoiceDetailWidgetPanel {
    overflow-x: hidden;
    overflow-y: auto;
    width: 98%;
    margin-right: 10px;
}
