<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Kunden', style:''">
	<div id="allCustomersWidget" data-dojo-type="dime/widget/customer/CustomersWidget"></div>
</div>