.offerWidgetOfferPositionsContainer {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.offerWidgetDiscountsContainer {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.input > label {
    font-weight:bold;
}
