a {
  text-decoration: none;
}

.extra-space {
  padding-left: 10px;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

ul {
  list-style-type: none;
}

.DimePanel {
    width: 99%;
    margin: 2px;
    padding: 5px;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    float: left;
}

.DimeControllButtons{
    margin-top: 10px;
    float: left;
}

textarea.form-control{
    width: 90% !important;
    height: 200px;
}

textarea.tiny{
    height: auto;
}

.table{
    table-layout: fixed;
}

.glyphicon-animate-spin {
    animation: spin 1s infinite linear;
    -webkit-animation: spin-webkit 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* Login Page */

.login-page {
  background: #ffffff;
}

.login-box-body {
  background: #d2d6de;
}

/* Menue */

.treeview > a {
  cursor: pointer;
}

.statusbar {
  padding: 15px;
  line-height: 20px;
  color: #ffffff;
}
