{# Twig Template #}
<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Stundenzettel', style:''">
	<div id="personalTimetrackWidget{{ viewtype|capitalize }}" data-dojo-type="dime/widget/timetrack/PersonalTimetrackerWidget{{ viewtype|capitalize }}" data-dojo-props="store: window.storeManager.get('activities', false, true)"></div>
</div>