<div class="${baseClass}">
    <div class="${baseClass}DescriptionChargeable">

        <div class=".input"><label>Name </label><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div><br></div>

        <label>Kunde </label><div class="${baseClass}Customer" data-dojo-attach-point="customerNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>

        <label>Status </label><div class="${baseClass}Status" data-dojo-attach-point="statusNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>

        <!-- //TODO urfr update filteringselect to display firstname, lastname -->
        <label>Verantwortlicher </label><div class="${baseClass}Accountant" data-dojo-attach-point="accountantNode" data-dojo-type="dijit/form/FilteringSelect" ></div><br>

        <label>Gültig bis </label><div class="${baseClass}ValidTo" data-dojo-attach-point="validToNode" data-dojo-type="dijit/form/DateTextBox" ></div><br>

        <label>Tarif </label><div class="${baseClass}RateGroup" data-dojo-attach-point="rateGroupNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>


        <label>Empfängeradresse </label><br>
	    <div class="${baseClass}Address" data-dojo-attach-point="addressNode" data-dojo-type="dime/widget/swocommons/AddressWidget" ></div><br/>

        <label>Kurzbeschreibung </label><div class="${baseClass}ShortDescription" data-dojo-attach-point="shortDescriptionNode" data-dojo-type="dijit/form/Textarea"></div><br>

        <label>Beschreibung </label><div class="${baseClass}Description" data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/Textarea"></div><br>


        <label>Offerten Positionen</label>
	    <div class="${baseClass}OfferPositionsNode" data-dojo-attach-point="offerPositionsNode" data-dojo-type="dime/widget/GenericTableWidget" data-dojo-props="doStartup: false"></div>

        <label>Standard Abzüge</label>
	    <div class="${baseClass}DiscountsNode" data-dojo-attach-point="discountsNode" data-dojo-type="dime/widget/GenericTableWidget" data-dojo-props="doStartup: false"></div>

        <label>Abzüge</label>
	    <div class="${baseClass}OfferDiscountsNode" data-dojo-attach-point="offerDiscountsNode" data-dojo-type="dime/widget/GenericTableWidget" data-dojo-props="doStartup: false"></div>

        <label>Total</label><br>
        <br>
        <label>Subtotal </label><div class="${baseClass}Subtotal" data-dojo-attach-point="subtotalNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Davon MwSt. </label><div class="${baseClass}totalVAT" data-dojo-attach-point="totalVATNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Abzüge </label><div class="${baseClass}totalDiscounts" data-dojo-attach-point="totalDiscountsNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Total </label><div class="${baseClass}total" data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Fixpreis </label><div class="${baseClass}fixedPrice" data-dojo-attach-point="fixedPriceNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
		<br/>
	    <a data-dojo-attach-point="printNode" class="icon-print" href=""></a>
	    <button data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/Button">Auftrag erstellen</button>
	    <br/>
    </div>
</div>