<div class="${baseClass}">
    <div class="${baseClass}DescriptionChargeable">

        <div class=".input"><label>Name </label><div class="${baseClass}Name" data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div><br></div>

        <label>Kunde </label><div class="${baseClass}Customer" data-dojo-attach-point="customerNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>

        <label>Status </label><div class="${baseClass}Status" data-dojo-attach-point="statusNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>

        <!-- //TODO urfr update filteringselect to display firstname, lastname -->
        <label>Verantwortlicher </label><div class="${baseClass}Accountant" data-dojo-attach-point="accountantNode" data-dojo-type="dijit/form/FilteringSelect" ></div><br>

        <label>Gültig bis </label><div class="${baseClass}ValidTo" data-dojo-attach-point="validToNode" data-dojo-type="dijit/form/DateTextBox" ></div><br>

        <label>Tarif </label><div class="${baseClass}RateGroup" data-dojo-attach-point="rateGroupNode" data-dojo-type="dijit/form/FilteringSelect"></div><br>


        <label>Empfängeradresse </label><br>
        <div class="${baseClass}recepientAddressLine1" data-dojo-attach-point="recepientAddressLine1Node" data-dojo-type="dijit/form/TextBox"></div><br>
        <div class="${baseClass}recepientAddressLine2" data-dojo-attach-point="recepientAddressLine2Node" data-dojo-type="dijit/form/TextBox"></div><br>
        <div class="${baseClass}recepientAddressLine3" data-dojo-attach-point="recepientAddressLine3Node" data-dojo-type="dijit/form/TextBox"></div><br>
        <div class="${baseClass}recepientAddressLine4" data-dojo-attach-point="recepientAddressLine4Node" data-dojo-type="dijit/form/TextBox"></div><br>
        <div class="${baseClass}recepientAddressLine5" data-dojo-attach-point="recepientAddressLine5Node" data-dojo-type="dijit/form/TextBox"></div><br>

        <label>Kurzbeschreibung </label><div class="${baseClass}ShortDescription" data-dojo-attach-point="shortDescriptionNode" data-dojo-type="dijit/form/Textarea"></div><br>

        <label>Beschreibung </label><div class="${baseClass}Description" data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/Textarea"></div><br>

        <!-- //TODO urfr project to be desplayed -->

        <!-- //TODO urfr offerpositions -->



        <label>Offerten Positionen</label>
        <div class="${baseClass}OfferPositionsContainer" data-dojo-attach-point="offerPositionsContainer"></div>
        <br>
        <div data-dojo-attach-point="addOfferPositionNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
        <br>
        <br>
        <label>Standard Abzüge</label>
        <div class="${baseClass}DiscountsContainer" data-dojo-attach-point="discountsContainer"></div>
        <br>
        <div class="${baseClass}StandardDiscountSelect" data-dojo-attach-point="addStandardDiscountSelectNode" data-dojo-type="dijit/form/FilteringSelect"></div>
        <div data-dojo-attach-point="addStandardDiscountNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
        <br>
        <br>
        <label>Abzüge</label>
        <div class="${baseClass}OfferDiscountsContainer" data-dojo-attach-point="offerDiscountsContainer"></div>
        <br>
        <div data-dojo-attach-point="addOfferDiscountNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
        <br>
        <br>
        <label>Total</label><br>
        <br>
        <label>Subtotal </label><div class="${baseClass}Subtotal" data-dojo-attach-point="subtotalNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Davon MwSt. </label><div class="${baseClass}totalVAT" data-dojo-attach-point="totalVATNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Abzüge </label><div class="${baseClass}totalDiscounts" data-dojo-attach-point="totalDiscountsNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Total </label><div class="${baseClass}total" data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>
        <label>Fixpreis </label><div class="${baseClass}fixedPrice" data-dojo-attach-point="fixedPriceNode" data-dojo-type="dijit/form/NumberTextBox" ></div><br>


    </div>
</div>