<div class="${baseClass}">
    <div data-dojo-attach-point="GridNode"></div>
    <div data-dojo-attach-point="addEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
    <div data-dojo-attach-point="editEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">Edit Offer</div>
    <div data-dojo-attach-point="deleteEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
	<button data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/Button">Auftrag erstellen</button>
</div>