<div class="${baseClass}">
    <div data-dojo-attach-point="offerGridNode" data-dojo-type="dime/widget/offer/OfferGrid"></div>
    <div data-dojo-attach-point="addOfferNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
    <div data-dojo-attach-point="editOfferNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">Edit Offer</div>
    <div data-dojo-attach-point="deleteOfferNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
	<button data-dojo-attach-point="createprojectNode" data-dojo-type="dijit/form/Button">Auftrag erstellen</button>
</div>