<div class="${baseClass}">
    <div data-dojo-attach-point="GridNode" data-dojo-type="dime/widget/offer/OfferGrid"></div>
    <div data-dojo-attach-point="addNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
    <div data-dojo-attach-point="editNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">Edit Offer</div>
    <div data-dojo-attach-point="deleteNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
	<button data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/Button">Auftrag erstellen</button>
</div>