<tr>
	<td><div class="${baseClass}Order" data-dojo-attach-point="orderNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div class="${baseClass}Service" data-dojo-attach-point="serviceNode" data-dojo-type="dijit/form/FilteringSelect"></div></td>
	<td><div class="${baseClass}RateValue" data-dojo-attach-point="rateValueNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div class="${baseClass}RateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div></td>
	<td><div class="${baseClass}RateUnitType" data-dojo-attach-point="rateUnitTypeNode" data-dojo-type="dijit/form/FilteringSelect"></div></td>
	<td><div class="${baseClass}Amount" data-dojo-attach-point="amountNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div class="${baseClass}VAT" data-dojo-attach-point="VATNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div class="${baseClass}Discountable" data-dojo-attach-point="discountableNode" data-dojo-type="dijit/form/CheckBox"></div></td>
	<td><div class="${baseClass}Total" data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/NumberTextBox"></div></td>
	<td><div data-dojo-attach-point="containerNode"></div></td>
</tr>