<div class="${baseClass}">

        <label>Reihenfolge </label><div class="${baseClass}Order" data-dojo-attach-point="orderNode" data-dojo-type="dijit/form/TextBox"></div>
        <label>Service </label><div class="${baseClass}Service" data-dojo-attach-point="serviceNode" data-dojo-type="dijit/form/FilteringSelect"></div>
        
        <label>Tarif </label><div class="${baseClass}ServiceRateValue" data-dojo-attach-point="serviceRateValueNode" data-dojo-type="dijit/form/TextBox"></div>
        <label>Tarif manuell </label><div class="${baseClass}OfferPositionRateValue" data-dojo-attach-point="offerPositionRateValueNode" data-dojo-type="dijit/form/TextBox"></div>
        
        <label>Tarif Einheit </label><div class="${baseClass}RateUnit" data-dojo-attach-point="rateUnitNode" data-dojo-type="dijit/form/TextBox"></div>
        <label>MwSt. </label><div class="${baseClass}VAT" data-dojo-attach-point="VATNode" data-dojo-type="dijit/form/TextBox"></div>
        <label>Rabatierbar </label><div class="${baseClass}Discountable" data-dojo-attach-point="discountableNode" data-dojo-type="dijit/form/CheckBox"></div>
        <div class="${baseClass}DeleteBtn"><button data-dojo-attach-point="deleteNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</button></div>
        
    
</div>