<div class="${baseClass}">
    <div class="${baseClass}">
	    <div class="DimePanel ${baseClass}Panel">
	        <div class="${baseClass} ${baseClass}Name"><label>Name</label><div data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox"></div></div>
		    <div class="${baseClass} ${baseClass}Customer"><label>Kunde</label><div data-dojo-attach-point="customerNode" data-dojo-type="dijit/form/FilteringSelect"></div></div>
		    <div class="${baseClass} ${baseClass}Status"><label>Status</label><div data-dojo-attach-point="statusNode" data-dojo-type="dijit/form/FilteringSelect"></div></div>
	    </div>
	    <div class="DimePanel ${baseClass}Panel">
	        <!-- //TODO urfr update filteringselect to display fullname -->
		    <div class="${baseClass} ${baseClass}Accountant"><label>Verantwortlicher Mitarbeiter</label><div data-dojo-attach-point="accountantNode" data-dojo-type="dijit/form/FilteringSelect" ></div></div>
		    <div class="${baseClass} ${baseClass}ValidTo"><label>Gültig bis</label><div data-dojo-attach-point="validToNode" data-dojo-type="dime/form/DateTextBox" ></div></div>
		    <div class="${baseClass} ${baseClass}RateGroup"><label>Tarif</label><div data-dojo-attach-point="rateGroupNode" data-dojo-type="dijit/form/FilteringSelect"></div></div>
		    <div class="${baseClass} ${baseClass}Address"><label>Empfängeradresse</label><div data-dojo-attach-point="addressNode" data-dojo-type="dime/widget/swocommons/AddressWidget" ></div></div>
		    <div class="${baseClass} ${baseClass}ShortDescription"><label>Kurzbeschreibung</label><div data-dojo-attach-point="shortDescriptionNode" data-dojo-type="dijit/form/Textarea"></div></div>
		    <div class="${baseClass} ${baseClass}Description"><label>Beschreibung</label><div data-dojo-attach-point="descriptionNode" data-dojo-type="dijit/form/Textarea"></div></div>
	    </div>
	    <div class="DimePanel ${baseClass}Panel">
	        <div class="${baseClass} ${baseClass}OfferPositionsNode"><label>Offerten Positionen</label><div data-dojo-attach-point="offerPositionsNode" data-dojo-type="dime/common/GenericStoreTableWidget"></div></div>
	    </div>
	    <div class="DimePanel ${baseClass}Panel">
		    <div class="${baseClass} ${baseClass}DiscountsNode"><label>Standard Abzüge</label><div data-dojo-attach-point="discountsNode" data-dojo-type="dime/common/SelectableSubEntityTableWidget"></div></div>
		    <div class="${baseClass} ${baseClass}OfferDiscountsNode"><label>Abzüge</label><div data-dojo-attach-point="offerDiscountsNode" data-dojo-type="dime/common/GenericStoreTableWidget"></div></div>
	    </div>
	    <div class="DimePanel ${baseClass}Panel">
		    <div class="${baseClass} ${baseClass}PriceSummary"><label>Total</label></div>
		    <div class="${baseClass} ${baseClass}Subtotal"><label>Subtotal</label><div data-dojo-attach-point="subtotalNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		    <div class="${baseClass} ${baseClass}TotalVAT"><label>Davon MwSt.</label><div data-dojo-attach-point="totalVATNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		    <div class="${baseClass} ${baseClass}TotalDiscounts"><label>Abzüge</label><div data-dojo-attach-point="totalDiscountsNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		    <div class="${baseClass} ${baseClass}Total"><label>Total</label><div data-dojo-attach-point="totalNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
		    <div class="${baseClass} ${baseClass}FixedPrice"><label>Fixpreis</label><div data-dojo-attach-point="fixedPriceNode" data-dojo-type="dijit/form/NumberTextBox" ></div></div>
	    </div>
	    <div class="${baseClass} ${baseClass}ButtonNode">
	        <button data-dojo-attach-point="printNode" data-dojo-type="dijit/form/Button"><span class="icon-print" ></span></button>
	        <button data-dojo-attach-point="projectNode" data-dojo-type="dijit/form/Button">Auftrag erstellen</button>
	    </div>
    </div>
</div>