<div id="header"
     data-dojo-type="dijit/MenuBar"
     data-dojo-props="region:'top', 'class':'primary inverse'">
	<span class='brand'>DimeErp</span>
	<div data-dojo-type="dijit/PopupMenuBarItem" id="file">
		<span>File</span>
		<div data-dojo-type="dijit/Menu" id="fileMenu">
			<div data-dojo-type="dijit/MenuItem" id="globals" data-dojo-props="onClick: this.savetoFile">Save</div>
		</div>
	</div>
</div>