<div id="header"
     data-dojo-type="dijit/MenuBar"
     data-dojo-props="region:'top', 'class':'primary inverse'">
	<span class='brand'>DimeErp</span>
	<div class="dimeUserMenu" data-dojo-type="dijit/PopupMenuBarItem">
		<span><span class="icon-user"></span>  {{ app.user.fullname }}</span>
		<div data-dojo-type="dijit/Menu">
			<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick: function(){window.open('{{ path('fos_user_profile_edit') }}', '_blank')}">Einstellungen</div>
			<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick: function(){window.open('{{ path('fos_user_change_password') }}', '_blank')}">Passwort ändern</div>
			<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick: function(){window.open('{{ path('fos_user_security_logout') }}', '_parent')}">Ausloggen</div>
		</div>
	</div>
</div>