<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading', splitter:true, minSize:20"
     style="width: 300px;" id="leftAccordion">

	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"Tree"'>
		<!-- tree widget -->
		<div data-dojo-type="dijit/Tree"
		     data-dojo-props="model: continentModel, query:{ type:'continent'}, label:'Continents', openOnClick:true"
				></div>
	</div>

	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Rootless Tree'">
		<div id="rootlessTree" data-dojo-type="dijit/Tree" data-dojo-props="
						model:continentModel,
						query:{ type:'continent' },
						showRoot: false,
						openOnClick:true
					"></div>
	</div>

	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:true, title:"Calendar"'>
		<!-- calendar widget pane -->
		<input id="calendar1" data-dojo-type="dijit/Calendar">
	</div>

</div>