<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading', splitter:true, minSize:20"
     style="width: 300px;" id="leftAccordion">

	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:true, title:"Calendar"'>
		<!-- calendar widget pane -->
		<input id="calendar1" data-dojo-type="dijit/Calendar">
	</div>

</div>