<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Tarif Gruppen', style:''">
	<div id="allRateGroupsWidget" data-dojo-type="dime/widget/rategroup/RateGroupsWidget"></div>
</div>