<div class="${baseClass}">
	<div data-dojo-attach-point="GridNode"></div>
	<div data-dojo-attach-point="addEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">+</div>
	<div data-dojo-attach-point="editEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'">Edit Project</div>
	<div data-dojo-attach-point="deleteEntityNode" data-dojo-type="dijit/form/Button" data-dojo-props="'class':'danger'">X</div>
	<div data-dojo-attach-point="invoiceNode" data-dojo-type="dijit/form/Button">Rechnung erstellen</div>
</div>