.projectDetailWidget{
    width: 370px;
    float: left;
}

.projectDetailWidgetTitleData{
    margin-top: 4px !important;
}

.projectDetailWidgetWrapper {
    height: 100% !important;
    width: 100% !important;
}

.projectDetailWidgetTabContainer {
    height: 46.6% !important;
    width: 100% !important;
}

.projectDetailWidgetTabContainerPane {
    height: 348px !important;
    width: 98.67% !important;
    padding: 0px !important;
}

.projectDetailWidgetHeaderData {
    height: 50% !important;
}

.projectDetailWidgetName .dijitTextBox{
    margin-left: 84px;
}

.projectDetailWidgetAlias{
    margin-left: 100px;
}

.projectDetailWidgetDescription{
    width: 100%;
    height: 120px;
    margin-top: 10px;
}

.projectDetailWidgetDescription .dijitTextBox{
    width: 100%;
    height: 76%;
}

.projectDetailWidgetDescription label{
    width: 100%;
    height: 10%;
}

.projectDetailWidgetDeadline .dijitTextBox{
    margin-left: 66px;
}

.projectDetailWidgetCustomer .dijitTextBox{
    margin-left: 81px;
}

.projectDetailWidgetBudgetPrice .dijitTextBox{
    margin-left: 25px;
}

.projectDetailWidgetCurrentPrice{
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectDetailWidgetCurrentPrice .dijitTextBox{
    margin-left: 6px;
}

.projectDetailWidgetBudgetTime{
    margin-left: 100px;
}

.projectDetailWidgetBudgetTime .dijitTextBox{
    margin-left: 25px;
}

.projectDetailWidgetCurrentTime{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
}

.projectDetailWidgetCurrentTime .dijitTextBox{
    margin-left: 6px;
}

.projectDetailWidgetFixedPrice .dijitTextBox{
    margin-left: 71px;
}

.projectDetailWidgetRateGroup{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectDetailWidgetRateGroup .dijitTextBox{
    margin-left: 40px;
}

.projectDetailWidgetChargeable{
    margin-left: 100px;
}