<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Offerte', style:''">
    <div id="offerWidget" data-dojo-type="dime/widget/offer/OfferWidget" data-dojo-props="editOfferId: {{ editOfferId }}"></div>
</div>