<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Offerten', style:'', selectionMode:'single'">
	<div id="allOffersGrid" data-dojo-type="dime/widget/offer/OffersWidget" data-dojo-props="store: window.storeManager.get('offers', false, true)"></div>
</div>

