<div class="tabPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Rechnungen', style:'', selectionMode:'single'">
	<div id="allInvoicesGrid" data-dojo-type="dime/widget/invoice/InvoicesWidget" data-dojo-props="store: window.storeManager.get('invoices', false, true)"></div>
</div>

